body{
    background-color: rgb(2, 43, 80);
}

.to-do-list{
    font-family: arial, sans-serif;
    text-align: center;
    margin-top:100px;
}
h2{
    font-size: 4rem;
    color: aliceblue;
}
button{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5 ease;
}

.add-button{
    background-color: rgb(71, 215, 14);
    height: 40px;
    width: 70px;
}

.add-button:hover{
    background-color: rgb(122, 145, 87);

}

.delete-button{
    background-color: rgb(244, 56, 56);
    height: 40px;
    width: 80px;
    align-items: center;
}

.delete-button:hover{
    background-color: brown;
}

.move-up-button, .move-down-button{
    background-color: bisque;
    color: black;
    height: 40px;
    width: 60px;
    align-items: center;
}
.move-down-button:hover, .move-up-button:hover{
    background-color: aquamarine;
}
ol{
    padding: 0;
}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: aliceblue;
    margin-bottom: 10px;
    border: 3px solid rgba(10, 133, 240, 0.561);
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
}

.text{
    /* flex-grow:1;
    flex-shrink: 1;
    flex-basis:0%; --> for all 3 commands // same as flex:1 */
    flex:1;
}

.delete-button, .move-up-button{
    padding: 8px 12px;

}

input{
    height: 50px;
    width: 200px;
    font-size: 1.5rem;
}